* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #f0e7d8;
  font-family: "Courier New", Courier, monospace;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
